<!--<div class="navbar navbar-default" style="margin-bottom: 0px">-->
  <!--<div class="navbar-header">-->
    <!--<div class="container-fluid">-->
      <!--<div class="navbar-header">-->
        <!--<a routerLink="/" class="navbar-brand">Покупка и продажа пионерских лагерей,-->
        <!--баз отдыха, пансионатов, турбаз, санаториев, охотхозяйств в Московской области</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<app-header-menu style="margin-top: 0px"></app-header-menu>


