
<div class="navbar navbar-default">
  <div class="navbar-header">
    <div class="row">
      <div class="col-lg-8">
        <a routerLink="/" class="navbar-text" style="font-size: large">Покупка и продажа пионерских лагерей, баз отдыха, пансионатов, турбаз, санаториев, охотхозяйств в Московской области</a>
      </div>
      <div class="col-lg-2">
        <a routerLink="/" class="navbar-brand mobilesOnly">+7 488 123-56-78</a>
      </div>
      <div class="col-lg-2">
        <button class="btn navbar-btn" style="vertical-align: middle">Отправиь запрос</button>
      </div>
    </div>
  </div>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="/ad/best">Лучшие предложения</a></li>
    <li routerLinkActive="active"><a routerLink="/ad/central">Центральный район</a></li>
    <li routerLinkActive="active"><a routerLink="/ad/region">Регионы</a></li>
    <li routerLinkActive="active"><a routerLink="/ad/all">Показать все</a></li>
  </ul>
</div>

