<div class="col-lg-4 col-md-3 col-sm-6">
  <div class="ad">
    <div class="ad-caption">
      <div class="row">
        <div class="col-xs-9">
          {{ advertisement.caption }}
        </div>
        <div class="col-xs-3">
          <button class="btn btn-default pull-right ad-detail-btn" (click)="onDetail()">Подробно</button>
        </div>
      </div>
    </div>
    <div class="ad-image" style="height: 60px; overflow: hidden">
      <img *ngFor="let img of advertisement.imagePath"
           [src]="img"
           class="img-responsive"
           style="max-height: 60px; height: 60px; display: inline-block; cursor: pointer;"
           (click)="onImage(img)">
    </div>
    <div class="ad-bg-colour ad-description">{{ advertisement.description }}</div>
    <div class="ad-bg-colour ad-price">Цена: {{advertisement.price}} {{advertisement.currency}}</div>
    <div class="ad-bg-colour ad-phone">Телефон: <span class="ad-phone-number">{{advertisement.phone}}</span></div>
  </div>
</div>

<div *ngIf="slideShow" class="message-wrapper">
  <!--<div class="message">-->

    <app-ngbd-carousel-basic></app-ngbd-carousel-basic>

  <!--</div>-->
</div>


