<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

       <div class="row">
        <div class="col-xs-12">

            <div class="form-group">
                <label for="id">id</label>
                <input
                  type="text"
                  id="id"
                  formControlName="id"
                  class="form-control">
            </div>

          <div class="form-group">
            <label for="caption">Название</label>
            <input
              type="text"
              id="caption"
              formControlName="caption"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="description">Описание</label>
            <textarea
              type="text"
              id="description"
              rows="5"
              formControlName="description"
              class="form-control"></textarea>
          </div>

          <div class="form-group" >
            <label for="regions">Регион</label>
            <select class="form-control" id="regions" formControlName="region">
              <option *ngFor="let region of regions" [ngValue]="region">{{ region }}</option>
            </select>
          </div>


          <div class="form-group">
            <label for="price">Цена</label>
            <input
              type="text"
              id="price"
              formControlName="price"
              class="form-control">
          </div>

          <div class="form-group" >
            <label for="currency">Валюта</label>
            <select class="form-control" id="currency"  formControlName="currency">
              <option *ngFor="let currency of currencys" [ngValue]="currency">{{ currency }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="caption">Телефон</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control">
          </div>

          <div class="row">
            <div class="col-xs-12" formArrayName="imagePath">
              <label for="imagePath">Файлы с картинками:</label><br>
              
                    <!-- <div style="border: 1px solid #949599; height: 158px; margin: 2px; padding: 2px; float: left"
                       *ngFor="let imgFilesCtrl of getControls(); let i = index"
                       [formGroupName]="i" >
                            <img [src]="imgFilesCtrl.value" style="max-height: 100%; height: 100%;  cursor: pointer;"> 
                            <button class="btn btn-danger"  (click)="onDeleteImage(i)">X</button> 
                    </div>  -->


                    <div class="block" *ngFor="let imgFilesCtrl of getControls(); let i = index" [formGroupName]="i">
                        <img class="kartinka" [src]="imgFilesCtrl.value"> 
                        <button  type="button" class="picture__button" (click)=onDeleteImage(imgFilesCtrl.value)>x</button>
                    </div>

              </div>
          </div>
          <input type="file" class="form-control" formControlName="imagePath" (change)="upload($event)" accept=".png,.jpg" multiple="multiple"/> 
           <!-- webkitdirectory  -->

        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              style="margin-right: 10px">Сохранить</button>
            <button type="submit" class="btn btn-danger" (click)="onCancel()">Отмена</button>
          </div>
      </div>
    </form>
  </div>
</div>
